<div id="project" class="right details">
  <h2>{{ title }}</h2>
  <div>
    <table class="ref">
      <tbody>
        <tr>
          <th>{{ ref.title }}</th>
          <td>{{ ref.number }}</td>
        </tr>
        <tr>
          <th>{{ invoice.title }}</th>
          <td>{{ invoice.number }}</td>
        </tr>
        <tr>
          <th class="none">{{ date.title }}</th>
          <td>{{ date.date }}</td>
        </tr>
        <tr>
          <th class="none">{{ start.title }}</th>
          <td>{{ start.date }}</td>
        </tr>
        <tr>
          <th class="none">{{ end.title }}</th>
          <td>{{ end.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
